.img-circle:hover{
    -webkit-animation: img-rotating1 1s ease-out forwards;
    -o-animation: img-rotating1 1s ease-out forwards;
    animation: img-rotating1 1s ease-out forwards;
}
.img-rounded:hover{
    -webkit-animation: img-rotating2 1s ease-out forwards;
    -o-animation: img-rotating2 1s ease-out forwards;
    animation: img-rotating2 1s ease-out forwards;
}
@keyframes img-rotating1 {
    to{
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform:rotateZ(360deg);
        transform:rotateZ(360deg);
    }
}
/*兼容*/

@-webkit-keyframes img-rotating1 {
    to{
        -webkit-transform:rotateZ(360deg);
        -moz-transform:rotateZ(360deg);
        -ms-transform:rotateZ(360deg);
        -o-transform:rotateZ(360deg);
        transform:rotateZ(360deg);
    }

}
@keyframes img-rotating2 {
    to{
        -webkit-transform:scale(2);
        -moz-transform:scale(2);
        -ms-transform:scale(2);
        -o-transform:scale(2);
        transform:scale(2);
    }
}
/*兼容*/
@-webkit-keyframes img-rotating2 {
    to{
        -webkit-transform:scale(2);
        -moz-transform:scale(2);
        -ms-transform:scale(2);
        -o-transform:scale(2);
        transform:scale(2);
    }
}
